.nav{
  background-color: black;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
}

.header-ul {
  text-decoration:none;
  list-style:none;
  display: block;
  color: white;
}
.header-li{
  float: left;
  margin-left: 20px;
  text-align: center;
  line-height: 20px;
}

span{
  color: white;
  font-size: 18px
}
