.products {
  margin-top: 100px;
  background-color: white;
  list-style:none;
  height: 1000px;
}

.product-ul{
  list-style:none;
  width: 80%;
  text-align: center;
  height: 1000px;
  margin: auto;
}

.product-li {
  width: 300px;
  height: 350px;
  float: left;
  border: gray 1px solid;
  text-align: center;
  padding: 30px;
  margin-left: 20px;
  margin-top: 20px;
}

.product-img {
  width: 300px;
  height: 200px;
}

.product-info {
  text-align: left;
}

.product-add {
  position: relative;
  top: 20px;
  left: 100px;
  width: 50px;
}
