.add-product {
  margin-top: 100px;
  background-color: white;
}

.add-h1{
  text-align: center;
}

.add-ul{
  list-style:none;
}

.add-input {
  width: 90%;
  height: 30px;
}

.add-button {
  background-color: aqua;
  width: 50px;
  height: 25px;
  margin-left: 40px
}
